/*here*/
/* Common CSS for both headers */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap");
*{
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: inherit;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.header .logo img {
  width: 4rem;
  height: 4rem;
  padding-bottom: 0.5em;
  top: 0;
  left: 0;
  object-fit: contain;
}

.header .navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header .navbar ul li {
  margin: 0 1.5rem;
}

.header .navbar ul li a {
  font-size: 2rem;
  color: #fff;
}

.header .navbar ul li a:hover {
  color: #00bfff;
  text-decoration: underline;
}

.header .navbar ul button {
  color: rgb(255, 255, 255);
  font-size: large;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  background-color: #002e5f;
  padding: 0.6em;
}

.header .navbar ul button:hover {
  background-color: #227ebb;
  transition: 0.2s;
}

.header .fa-bars {
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
  display: none;
}
.header #logout {
  display: none;
}

