* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', 'sans-serif';
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(11, 82, 82);
    color: white;
    font-size: 28px;
    height: 90px;
}

.container {
    width: 500px;
    padding: 22px;
    background: #fff;
    box-shadow: 1px 3px 3px 3px rgb(215, 215, 215);
    border-radius: 6px;
    position: relative;
    top: 53px;
    margin: auto;
}

.searchBar {
    display: flex;
    gap: 4px;
}

.container input {
    width: 80%;
    padding: 12px;
    height: 15px;
    border: none;
    outline: none;
    background-color: rgb(228, 224, 224);
    font-size: 18px;
    border-radius: 4px;
}

.searchBar button {
    width: 80px;
    background-color: orange;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;

}

.text {
    padding: 22px;
    margin-top: 22px;

}

.text p {
    margin-top: 18px;
}

.text a {
    padding: 6px 20px;
    background-color: orange;
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    top: 16px;
}

.text span {
    color: gray;

}

@media screen and (max-width:600px) {
    .container {
        width: 80%;
    }
}