* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ecf1f2;
  }
  
  .box {
    height: 60%;
    width: 30%;
    border-radius: 10px;
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 30px 30px;
    
  }
  
  .profile-circle {
    margin-top: 2px;
    height: 130px;
    width: 130px;
    border-radius: 10px;
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  img {
    width: 100px;
    border-radius: 50%;
  }
  
  .profile-info {
    height: 50px;
    width: 100%;
    margin: 10px 0px;
    line-height: 25px;
  }
  
  .profile-info p {
    color: #7c8293;
    font-size: 14px;
  }
  
  .social-icon {
    width: 70%;
    display: flex;
    justify-content: space-between;
  }
  
  .fb,
  .insta,
  .twitt,
  .uTube {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
    cursor: pointer;
  }
  
  .btns {
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    height: 80px;
    width: 100%;
  }
  
  .btns button {
    background: none;
    border: none;
    outline: none;
    height: 35px;
    width: 100%;
    border-radius: 4px;
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
    cursor: pointer;
  }
  
  .btns button:hover {
    background: none;
    border: none;
    background: #ecf0f3;
    outline: none;
    height: 35px;
    width: 100%;
    border-radius: 4px;
    box-shadow: inset -2px -2px 3px #ffffff, inset 2px 2px 3px #ceced1;
  }
  
  .extra-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0px 25px;
    margin-top: 15px;
  }
  
  .fb,
  .insta,
  .uTube,
  .twitt {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .fb:hover,
  .insta:hover,
  .uTube:hover,
  .twitt:hover {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: inset -2px -2px 3px #ffffff, inset 2px 2px 3px #ceced1;
  }

  @media (max-width: 768px) {
    .box {
      width: 80%;
      height: auto;
      margin: 3em 0;
      padding: 30px 10px;
    }
    .btns {
      padding: 10px;
    }
    .social-icon{
      margin: 2em 0;
    }
  }