.app-section {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(255, 251, 247);
}

.app-section .content {
  position: relative;
  max-width: 90rem;
  max-height: initial;
  margin: 3rem auto 0px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: nowrap;
}

.app-section .phone-image {
  position: relative;
  max-width: 100%;
  width: 25rem;
  height: 45rem;
  overflow: hidden;
}

.app-section .phone-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: none;
  opacity: 1;
  will-change: transform, opacity;
  border-radius: inherit;
  filter: unset;
  transition: opacity 0.25s ease 0s, transform 0.25s ease 0s;
}

.app-section .phone-title {
  color: rgb(28, 28, 28);
  margin: 0px 0px 1.5rem;
  font-weight: 500;
  font-size: 4.4rem;
  line-height: 5.6rem;
}

.app-section .app-description {
  font-size: inherit;
  margin: 0px 0px 2.5rem;
  color: rgb(54, 54, 54);
  width: 100%;
  line-height: 3.2rem;
  font-size: 1.6rem;
  font-weight: 200;
}

.app-section .option-selector {
  display: flex;
  font-size: 1.6rem;
  width: 50%;
  height: 4rem;
  justify-content: space-between;
}

input[type="radio"] {
  accent-color: rgb(239, 79, 95);
}

.email-input {
  display: flex;
  margin-bottom: 1rem;
  gap: 10px;
}

.email-input .email {
  padding: 1.3rem 1.2rem;
  height: 4.8rem;
  background: rgb(255, 255, 255);
  border: 0.1rem solid rgb(207, 207, 207);
  font-size: 18px;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  border-radius: 0.6rem;
  color: rgb(28, 28, 28);
  font-weight: 200;
}

.email-input .btn {
  background-color: rgb(239, 79, 95);
  color: white;
  border: none;
  min-width: 15rem;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  padding: 0 1.6rem;
  cursor: pointer;
}

.email-input .btn:hover {
  background-color: rgb(242, 60, 78);
}

.app-section .caption {
  line-height: 1.5;
  margin: 0px 0px 1.5rem;
  color: rgb(156, 156, 156);
  font-size: 1.4rem;
}

.store .buttons img {
  object-fit: cover;
  position: relative;
  max-width: 100%;
  width: 13.7rem;
  height: 4rem;
  cursor: pointer;
}

@media (max-width: 800px) {
  .content {
    margin-top: 7.5rem;
    max-width: 42.4rem;
    margin: 0px 2.4rem;
  }

  .content .phone-image {
    display: none;
  }

  .app-section {
    padding: 0 1rem;
  }
}
