.main-body {
  position: relative;
  max-width: 110rem;
  max-height: initial;
  margin: 0px auto;
}

.options {
  margin: auto;
  margin-bottom: 6rem;
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.option {
  position: relative;
  width: 100%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex: 1;
  border-radius: 1.2rem;
  overflow: hidden;
  height: 24rem;
}

.info {
  padding: 1rem 2rem 1.6rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0px;
  background: white;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 0px 0px 1.2rem 1.2rem;
}

.image {
  border-radius: 1.2rem;
  overflow: hidden;
  position: relative;
  max-width: 100%;
  width: 100%;
  height: 24rem;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: none;
  opacity: 1;
  will-change: transform, opacity;
  border-radius: inherit;
  filter: unset;
  transition: opacity 0.25s ease 0s, transform 0.25s ease 0s;
}

.info .title {
  text-align: left;
  font-weight: 500;
  font-size: 2rem;
  line-height: 3.2rem;
}

.info .description {
  color: rgb(79, 79, 79);
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: inherit;
  line-height: 1.5;
  margin: 0px;
  font-size: 1.6rem;
}

.heading-2 {
  font-weight: 500;
  font-size: 3.6rem;
}

.heading-6 {
  font-size: 1.8rem;
  font-weight: 200;
}

.see-more {
  background-color: transparent;
  font-weight: 300;
  color: rgb(255, 126, 139);
  font-size: 1.6rem;
  padding: 1rem;
}

.desc-see-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collections-list {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 10rem;
  gap: 10px;
}

.collection {
  position: relative;
  width: 100%;
  max-width: 25%;
  height: 32rem;
}

.image {
  height: 32rem;
}

.image img {
  max-width: 100%;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 0.6rem;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.05) 50%,
    rgba(0, 0, 0, 0.05) 85%
  );
}

.overlay-info {
  position: absolute;
  bottom: 0;
  color: white;
  line-height: 1.5;
  margin: 0px;
  color: rgb(255, 255, 255);
  padding: 0px 1.6rem;
  font-size: 1.8rem;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.places {
  font-size: 1.4rem;
  margin: 0.3rem 0px 1rem;
}

.popular-localities .title {
  margin: 0px;
  color: rgb(54, 54, 54);
  font-size: 3.6rem;
  line-height: 1.2;
  font-weight: 200;
  margin-bottom: 4rem;
}

.popular-localities .title .city-name {
  font-weight: 500;
}

.localities {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 10rem;
}

.locality {
  padding: 1.2rem 1.5rem;
  border-radius: 0.8rem;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(232, 232, 232);
  margin-bottom: 0.5rem;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  box-shadow: rgba(28, 28, 28, 0.08) 0px 1.42623px 2.85246px;
  width: 30%;
  font-size: 1.6rem;
}

.locality-title {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 400;
  color: rgb(28, 28, 28);
  margin: 0px 0px 0.5rem;
  font-weight: 400;
}

.locality-description {
  font-size: inherit;
  line-height: 1.5;
  margin: 0px;
  color: rgb(54, 54, 54);
  font-weight: 200;
}

.locality .center {
  margin: auto;
}

.locality .center i {
  margin-left: 10px;
}

.locality:hover {
  box-shadow: rgba(28, 28, 28, 0.08) 0px 4px 8px;
}

@media (max-width: 800px) {
  .main-body {
    margin: 0px 2.4rem;
  }

  .main-body .option {
    height: auto;
  }

  .info .title {
    font-size: 1.4rem;
    line-height: 1.2;
  }

  .info .description {
    font-size: 1.2rem;
    font-weight: 200;
  }

  .collection {
    height: 17.7rem;
  }

  .overlay {
    height: 17.7rem;
  }

  .image {
    height: 17.7rem;
  }

  .email-input .btn {
    content: "Share";
  }
}

@media (max-width: 500px) {
  .main-body .option {
    max-width: 45%;
    flex: auto;
  }

  .main-body .see-more {
    display: none;
  }

  .heading-2 {
    font-size: 2rem;
    line-height: 3.2rem;
  }

  .desc-see-more h6 {
    font-size: 1.2rem;
  }

  .collections-list {
    flex-wrap: wrap;
  }

  .collection {
    max-width: 45%;
  }

  .popular-localities .title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-bottom: 2rem;
  }

  .locality {
    width: 100%;
  }
}
