@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  transition: all 0.2s linear;
  text-decoration: none;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.heading,
.clients .section-header h2,
.section-head h1,
.testimonials .section-header h2,
.section-head-1 h4 {
  margin: 2rem;
  padding-top: 6rem;
  display: inline-block;
  font-size: 3.5rem;
  color: #002e5f;
  position: relative;
  letter-spacing: 0.2rem;
}

/* Add specific styles for elements before and after pseudo-elements */
.heading::before,
.heading::after,
.clients .section-header h2::before,
.clients .section-header h2::after,
.section-head h1::before,
.section-head h1::after,
.testimonials .section-header h2::before,
.testimonials .section-header h2::after,
.section-head-1 h4::before,
.section-head-1 h4::after {
  content: "";
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  border-top: 0.4rem solid #002e5f;
  border-left: 0.4rem solid #002e5f;
}

.heading::before,
.clients .section-header h2::before,
.section-head h1::before,
.testimonials .section-header h2::before,
.section-head-1 h4::before {
  top: 5.8rem;
  left: -2rem;
}

.heading::after,
.clients .section-header h2::after,
.section-head h1::after,
.testimonials .section-header h2::after,
.section-head-1 h4::after {
  bottom: -0.5rem;
  right: -2rem;
  transform: rotate(180deg);
}

/*------ s mode -----*/
label {
  position: absolute;
  width: 45px;
  height: 22px;
  right: 2px;
  top: 12px;
  border: 2px solid;
  border-radius: 20px;
}

label:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: 1px;
  top: 1px;
  border-radius: 50%;
  cursor: pointer;
  background: #000;
  transition:
