* {
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #121213;
}

.game-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title-container {
    text-align: center;
    width: 510px;
    height: 70px;
    border-bottom: solid 1px #3a3a3c;
}

.tile-container {
    width: 327px;
    height: 300px;
    margin-bottom: 20px;
}

.key-container {
    width: 510px;
    display: flex;
    flex-wrap: wrap;
}

.key-container button {
    width: 43px;
    height: 50px;
    border-radius: 4px;
    border: none;
    background-color: #818384;
    margin: 4px;
}

.key-container button:nth-child(11) {
    margin-left: 30px;
}

.key-container button:nth-child(20),
.key-container button:nth-child(28) {
    width: 68px;
}

.tile-container div {
    display: flex;
}

.tile-container .tile {
    width: 60px;
    height: 45px;
    border: 2px solid #3a3a3c;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.message-container {
    height: 30px;
    margin: 10px 0 20px 0;
}

.message-container p {
    background-color: #818384;
    border-radius: 10px;
    padding: 8px;
    margin: 0;
}

.tile.flip {
    animation: 0.5s linear flipping;
}

@keyframes flipping {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

.grey-overlay {
    background-color: #3a3a3c !important;
    border:none !important;
}
.yellow-overlay {
    background-color: #b59f3a !important;
    border:none !important;
}

.green-overlay {
    background-color: #538d4e !important;
    border:none !important;
}

@media (max-width: 430px) {
    body {
        overflow-x: hidden;
        display: flex;
        justify-content: center
    }

    .game-container {
        height: 568px;
    }

    .title-container{
        width: 250px;
    }

    .message-container {
        margin: 5px auto;
    }

    .tile-container {
        width: 220px;
        height: 330px;
        margin-bottom: 0;
    }
    
    .message-container {
        margin-bottom: 10px;
    }

    .key-container {
        width: 280px;
    }

    .key-container button {
        width: 18px;
        height: 30px;
        font-size: 0.6rem;
    }

    .key-container button:nth-child(11) {
        margin-left: 20px;
    }
    
    .key-container button:nth-child(20),
    .key-container button:nth-child(28) {
        width: 40px;
        margin: 4px 2px 4px 1px;
    }
}