@import url('https://fonts.googleapis.com/css2?family=Blaka&family=Courier+Prime:ital@1&family=Dancing+Script&family=Fira+Sans&family=Lato:wght@300;700&family=Libre+Baskerville&family=Martel+Sans:wght@600&family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,400&family=Roboto:ital,wght@0,400;0,500;0,700;1,500;1,700&family=Smooch&family=Tiro+Telugu&display=swap');

body{
    background: #edeaff;
    font-family: 'Courier Prime', monospace;
}

.stopwatch{
    width: 90%;
    max-width: 600px;
    background-image: linear-gradient(rgba(0,0,0,0.8) , rgba(0,0,0,0.8)) , url(images/background.png);
    background-size: cover;
    background-position:center ;
    text-align: center;
    padding: 40px 0;
    color: #fff;
    margin: 200px auto 0;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.stopwatch h1{
    margin-top: 60px;
    font-size: 64px;
    font-weight: 300;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons img{
    width: 50px;
    margin: 0 20px;
    cursor: pointer;
}

.buttons img:nth-child(2){
    width: 80px;
}