@import url('https://fonts.googleapis.com/css2?family=Blaka&family=Dancing+Script&family=Lato:wght@300;700&family=Libre+Baskerville&family=Martel+Sans:wght@600&family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,400&family=Smooch&family=Tiro+Telugu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display' , serif;
}

body{
    background: #bbc6fa;
}

.quote-box{
    background: #fff;
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px 0px rgba(0 , 0, 0, 0.15);
}

.quote-box h2{
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
}

.quote-box h2::after{
   content: '';
   width: 75px;
   height: 3px;
   border-radius: 3px;
   background: rgb(23 , 124 , 229);
   position: absolute;
   bottom: -10px;
   left: 50%;
   transform: translateX(-50%);
}

.quote-box blockquote{
    font-size: 26px;
    min-height: 110px;

}

.quote-box blockquote::before, .quote-box blockquote::after{
    content: ' " ';

}

.quote-box span{
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
}

.quote-box span::before{
    content: '';
    width: 20px;
    height: 2px;
    background: rgb(23 , 124 , 229);
    position: absolute;
    top: 50%;
    left: -30px;
}

.quote-box div{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.quote-box button{
    background: rgb(23 , 124 , 229);
    color: #fff;
    border-radius: 25px;
    border: 1px solid rgb(23 , 124 , 229);
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
}