body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    margin: 0;
    color: white;
    font-family: 'Arial', sans-serif;
}


#visualizer {
    text-align: center;
}


#canvas {
    display: block;
    margin: 20px auto;
    background: #000;
    border: 1px solid #333;
}



