.sideBar{
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f4f9;
    padding: 25px 15px;

}


.sideBar img{
    width: 20px;

}

.sideBar .menu {
    display: block;
    margin-left: 10px;
    cursor: pointer;
}

.sideBar .newChat{
    margin-top: 10px;
    display: inline-flex;
    /* display: flex; */
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #f0f4f9;
    border-radius: 50px ;
    font-size: 14px;
    color: gray;
    cursor:  pointer;
    margin-top: 50px;
}

.sideBar .recent{
    display: flex;
    flex-direction: column;
    

}

.sideBar .recent-title{
    margin-top: 30px;
    margin-bottom: 20px;
    animation: fadeIn 1.5s;

}

.sideBar .recent-entry{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    color: #282828;
    cursor: pointer;
}

.sideBar .recent-entry:hover{
    background-color: #e2e6eb;
}

.sideBar .bottom{
    display: flex;
    flex-direction: column;

}

.sideBar .bottom-item{
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    padding-right: 10px;
    cursor: pointer;
}


@media (max-width: 600px){
    .sideBar{
        display: none;
    }
}