*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
#cart_page{
  margin-top: 60px;
}
body{
  overflow-x: hidden;
}
section,main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-color: rgb(63, 63, 63);
  position: fixed;
  background-position: center;
}

#loginBox{
  position: relative;
  width: 400px;
  height: 490px;
  background:transparent;
  border: none;
  border-radius:100px 0 70px 0 ;
  display: flex;
  background-color: lightgreen;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
  -webkit-box-shadow:0px 0px 26px 0px rgba(27,224,34,0.89);
-moz-box-shadow: 0px 0px 26px 0px rgba(27,224,34,0.89);
box-shadow: 0px 0px 26px 0px rgba(27,224,34,0.89);
}

h2{
  font-size: 2em;
  color: black;
  text-align: center;
}
.input-box{
  position: relative;
  width: 310px;
  margin: 30px 0;
  border-bottom: 2px solid black;
}

.input-box label{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: black;
  pointer-events: none;
  transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
  top: -5px;
}

.input-box input{
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: black;
  padding: 0 35px 0 5px;
}

.input-box .icon{
  position: absolute;
  right: 8px;
  color: black;
  font-size: 1.2em;
  line-height: 57px;
}

.remember-forget{
  margin: -15px 0 15px;
  font-size: .9em;
  color: black;
  display: flex;
  justify-content: space-between;
}

.remember-forget label input{
  margin: right 3px;
}
.errorMessage{
  color: red;
  padding-bottom: 10px;
}
nav{
  padding-right:10px ;
  display: flex;
  justify-content:space-between;
}
.remember-forget a{
  color: black;
  text-decoration: none;
}
img{width: 30px;}
.remember-forget a:hover{
  text-decoration: underline;
}
button{
  width: 100%;
  height: 40px;
  background: black;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 900;
  color: white;
}
#errors{display: flex;flex-direction: row;gap: 10px;}
#errors img{width: 20px;height: 20px;}
.register-link{
  font-size: .9em;
  color: black;
  text-align: center;
  margin: 25px 0 10px;
}

.register-link p a{
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover{
  text-decoration: underline;
}
nav{
  position: absolute;
  top: 0%;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  background-color:white;
  padding-left: 20%;
  position:fixed;
}
#false{
  z-index: 2;
  box-shadow: 0 10rem 10rem 100rem rgba(0, 0, 0, .5);
}
#naviationtrue{
  box-shadow: 0 1px 12px rgba(0, 0, 0, .5);
}
nav a{
  text-decoration: none;
  display: grid;
  place-items: center;
  color: black
}
.menubar{
  position: absolute;
  top: 1.5%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  object-fit: contain;
  position: fixed;
  z-index: 99;
}
nav a:hover{
  color: gray;
}
#h1{
  color: black;
  position: relative;
  top: -4px;
  font-size: 1.5rem;
  text-shadow: -1px 2px 3px rgba(0, 0, 0, 1);
}
.cart{
  width: 35px;
  position: relative;
  right: -5%;
  cursor: pointer;
}
.true{
  width:50px;
}
.false{
  width: 50px;
  padding: 10px;
}
#home_page{
  margin-top: 60px;
}
.menus{
  display: flex;
  flex-direction: column;
  background-color: white;
  position: absolute;
  text-align: center;
  width: 300px;
  height: 420px;
  top: 9%;
  left: 0%;
  position: fixed;
  z-index: 99;
}
.menus a{
  text-decoration: none;
  color: black;
 display: grid;
 grid-template-columns: 1fr 1fr;
  font-size: 1.2rem;
  place-items: center;
  padding: 10px;
}

.menus a img{
  position: relative;
  right: 10px;
}
.menus a p{
  position: relative;
  right: 70px;
}
.menus a:last-child{
  border: none;
}
.menus a:hover{
  color: grey;
  font-size:2rem;
}
#true{
  display: none;
}
#false{
  display: block;
}
#fashion_page{
  margin-top: 70px;
}
img{
  object-fit: contain;
}
nav{
  width: 100%;
  z-index:5;
}
#menuBar{
  z-index: 99;
}
@media (max-width:440px){
  #loginBox{
    width: 90%;
    height: 490px;
    border: none;
    backdrop-filter: none;
  }
  body{
    overflow-x: hidden;
  }
  .input-box{
    width: 290px;
  }
}
@media (max-width:550px) {
   nav  a{
    display: none;
   }
} 