.container {
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .minicont{
    /* display:inline-block; */
    display:inline-block;
    border: 1px solid black;
    /* margin-top: 25px; */
    padding: 5px 20px;
    /* background-image: radial-gradient( circle at 40% 20%,  rgb(160, 235, 232) 0%, rgb(118, 136, 184) 90% ); */
    background: linear-gradient(360deg, rgb(173, 235, 233) 0%, rgb(141, 175, 219) 100%);
    border-radius: 10px;
  }
  /* .bgimg{
    opacity:"50%";
  } */
  .heading{
    letter-spacing: 1.5px;
  }
  .ask{

    letter-spacing: 1.5px;
  }
  .btn{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    /* background-color: #3c3fbe; */
    background-color: rgb(35, 35, 184);
    color: white;
    cursor: pointer;
    border-radius: 7px;
  }
  .output{
    /* display: none; */
  }
  .box{
    display: flex;
    justify-content:center;
    margin-top: -15px;
    gap: 20px;
    align-items: center;
  }
  .box p{
    border: 1px solid blue;
    margin: 20px 20px;
    padding: 20px 20px;
    background-color: rgb(192, 227, 228);
  }
  .cont{
    display: flex;
    justify-content:space-around;
    margin-top: -15px;
    /* gap:70px; */
    align-items: center;
  }
  .cont p{
    font-size: large;
  }
  .old{
    margin-top: -3px;
  }
  .footer{
    background-color: #4b4949;
    color: white;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25px;
  }
  .footer p{
    font-size: 1.1rem;
    margin-top: 0px;
  }
  .footer a{
    text-decoration: none;
    color: white;
  }