*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: white; */
    background-color: #eaf2ef;
    background-color: rgb(206, 233, 243);
    /* background-color: #cbe6dc; */
    min-height: 100vh;
}
.main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.outer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.title{
    text-align: center;
    text-transform: uppercase;
    /* text-decoration: underline; */
    text-decoration: none;
    color: black;
    padding-top: 5px;
}
.cont{
    background-color: #333;
    background-color: #4d4b4b;
    /* margin-bottom: 10px; */
    padding: 40px 30px 30px;
    min-width: 300px;
    min-height: 500px;
    /* width: 350px; */
    /* height: 300px; */
    padding-right: 30px;
    border-radius: 20px;
    box-shadow: 25px 25px 75px rgba(0, 0,0, 0.25),10px 10px 70px rgba(0, 0,0, 0.25),inset -5px -5px 15px rgba(0, 0,0, 0.25),inset 5px 5px 15px rgba(0, 0,0, 0.25);
}


.calc2{
    display: grid;
    gap: 17px;
    height: 485px;
}
.calc2 button{
    border: none;
    width: 37px;
    height: 37px;
    background: linear-gradient(180deg, #2f2f2f, #3f3f3f);
    border-radius: 10px;
    color: white;
    cursor: pointer;
    position: relative;
    box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),inset 0 -8px 8px rgba(0, 0, 0, 0.25),
    0 0 0 2px rgba(0, 0, 0, 0.75),
    10px 20px 25px rgba(0, 0, 0, 0.4);
}
.calc2 button::before {
    position: absolute;
    content: '';
    top:3px;
    left: 6px;
    bottom: 5px;
    right: 6px;
    border-radius: 10px;
    background-color: linear-gradient(90deg, #2d2d2d, #4d4d4d);
    box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.1),
    10px 5px 10px rgba(0, 0, 0, 0.15);
    border-left: 1px solid rgba(0, 0, 0, 0.27);
    border-bottom: 1px solid rgba(0, 0, 0, 0.27);
    border-top: 1px solid rgba(0, 0, 0, 0.6);
}
.calc2 button i{
    position: relative;
    font-size: 1.2rem;
    font-style: normal;
}
.calc2 button:active{
    filter: brightness(1.5);
}
.calc2 button.clear {
    background:brown;
}

.calc2 button.equal2{
    grid-row: span 2;
    height: 95px;
    background:grey;
    border: inset rgba(0, 0, 0, 0.5);
    background: linear-gradient(rgb(112, 111, 111),rgb(73, 70, 70));
    /* box-shadow: inset -5px -5px 5px rgba(0, 0, 0, 0.25); */
}

.calc2 .screen2{
    grid-column: span 5;
    height: 95px;
    width: calc(100%-10px);
    background-color: #a7af7c;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: right;
    padding: 10px;
}
#fn{
    background: rgb(126, 125, 125);
    color: black;
    font-size: 1rem;
    text-decoration:solid;
}
.footer{
    background-color: #4b4949;
    color: white;
    height: 30px;
    text-align: center;
    /* margin-bottom: 0; */
    /* position: fixed; */
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    
}
.footer p{
    padding-top: 8px;
    /* margin-top: 15px; */
    font-size: 1.1rem;
}
.footer a{
    /* margin-top: 15px; */
    text-decoration: none;
    color: white;
}


@media only screen and (max-width: 700px){
    .main{
        display: block;
    }
    .cont{
        margin-left: 5px;
    }
    #title2{
        display: none;
    }
    #title3{
        text-align: center;
    }
    .maint{
        margin-left: 30px;
    }
}
@media only screen and (min-width:701px) and (max-width: 6000px){
    #title3{
        display: none;
    }
}