section {
    padding: 10px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background-color: white;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #37517e;
  }
  
  .section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }
  
  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
  }
  
  .section-title p {
    margin-bottom: 0;
  }
  
  .team .member {
    position: relative;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 5px;
    background: #f3f5fa;
    transition: 0.5s;
    height: 100%;
  }
  
  .team .member .pic {
    overflow: hidden;
    width: 180px;
    border-radius: 10%;
  }
  
  .team .member .pic img {
    transition: ease-in-out 0.3s;
  }
  
  .team .member:hover {
    transform: translateY(-10px);
  }
  
  .team .member .member-info {
    padding-left: 30px;
  }
  
  .team .member h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #37517e;
  }
  
  .team .member span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
  }
  
  .team .member span::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #cbd6e9;
    bottom: 0;
    left: 0;
  }
  
  .team .member p {
    margin: 10px 0 0 0;
    font-size: 14px;
  }
  
  .team .member .social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .team .member .social a {
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    background: #eff2f8;
  }
  
  .team .member .social a i {
    color: #37517e;
    font-size: 16px;
    margin: 0 2px;
  }
  
  .team .member .social a:hover {
    background: #47b2e4;
  }
  
  .team .member .social a:hover i {
    color: #fff;
  }
  
  .team .member .social a + a {
    margin-left: 8px;
  }
  .viewButton{
    font-size: 14px;
    padding-left: 8px;
  }

  .viewButton1{
    margin-top: 8%;
    font-size: 14px;
    background-color: #f3f5fa;
    border: 1px solid #37517e ;
    padding: 3px 9px;
  }
  .viewButton1:hover{
    font-size: 14px;
    background-color: #37517e;
    color : #f3f5fa;
    border: 1px solid #37517e ;
    padding: 3px 9px;
  }
  .viewButtonStyle{
    margin-left: 10px;
  }
  .headingStyle{
    font-size: 23px;
    font-weight: 400;
  }


  /* Media query to target mobile devices */
@media (max-width: 1000px) {
  .navbar-toggler.navbar-toggler-right {
    margin-left: auto; /* Automatically align to the right */
    margin-bottom: 10px;
  }

  .header .logo img {
    width: 15%; /* Adjust the width as needed */
    height: 15%; /* Maintain aspect ratio */
    margin-top: 0.3em;
    top: 0;
    left: 0;
    background-size: cover;
    display: flex; /* Vertically align the logo */
    align-items: center; /* Vertically center the logo */
  }

  /* Center-align the nav links */
  .header .navbar ul {
    text-align: center;
  }

  .header .navbar ul li {
    margin: 1rem 0;
  }

  .header .navbar ul li a {
    color: grey;
    font-size: 2.4rem; /* Adjust the font size as needed */
  }
 

  .header .navbar ul button:hover {
    text-decoration: underline;
    background: none;
    color: #1da1f2;
  }

  .nameCSS {
    color: rgb(16, 16, 16);
    margin: 0 1em;
    padding: 0.2em;
    font-weight: 550;
    text-decoration: underline;
  }

  .header .navbar ul button {
    width: fit-content;
    height: 100%;
    padding: 0 0.3em;
  }

  .header .logo img {
    width: 9%;
    height: 3.5rem;
    margin-top: 0.3em;
    top: 0;
    left: 0;
    background-size: cover;
  }

  .header .fa-bars {
    display: block;
    color: white;
    margin-right: 1rem;
  }

  .header .fa-bars:hover {
    color: #00bfff;
  }

  .header .navbar {
    position: fixed;
    top: -120%;
    left: 0;
    height: auto;
    width: 100%;
    background-color: white;
    z-index: 1000;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.3);
  }

  .header .navbar ul {
    height: 100%;
    width: 100%;
    flex-flow: column;
  }

  .header .navbar ul li {
    margin: 1rem 0;
  }

  .header .navbar ul li a {
    color: grey;
    font-size: 2.4rem;
  }

  .header .fa-times {
    transform: rotate(90deg);
  }

  .header .nav-toggle {
    top: 5.8rem;
  }

  
}

