
/* popup.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    width: 100vh;
}

.container {
    width: 90%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
    text-align: center;
}

h1 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #ff0000; /* YouTube red */
}

input[type="text"] {
    width: calc(100% - 20px); /* Adjusting for padding */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #ff0000; /* YouTube red */
    outline: none;
}

select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
}

button {
    padding: 10px 20px;
    background-color: #ff0000; /* YouTube red */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #cc0000; /* Darker shade of red */
}

#downloadLinks {
    margin-top: 20px;
    text-align: left;
}

#downloadLinks a {
    display: block;
    margin-bottom: 10px;
    color: #ff0000; /* YouTube red */
    text-decoration: none;
    transition: color 0.3s ease;
}

#downloadLinks a:hover {
    color: #cc0000; /* Darker shade of red */
}

#message {
    margin-top: 20px;
    color: #555;
    font-size: 1.2em;
}
