
@media(min-width:1500px){
    #songs .container{max-width:95%;}
}


@media(max-width:1200px){
    #download_app{
        display: none;
    }
    .nav2 ul li{   padding:20px 15px;}
    #options_player{display: none;}
    .main_player{flex:8;}
    #shuffle{flex:2;}
    #quality{display: none;}
    #playorpause .fa{padding:16px 5px;}
    .audio_player{ width:75%;}
}


@media(max-width:1024px){
    #search_music .main_button{
        width:60%;
    }
    .song_image{
        max-width: 114px;
        max-height: 114px;
    }
    .play_icon{top:35px;
    left: 35px;}
    .songs_box{
    max-width:129px;
    min-width:129px;
    min-height:136px;
    margin-right:0px;
    }
    

    
}


@media(max-width:992px){

    #search_music  .trending
    {display: none;}
    #music_progress{width:55%;}
    .audio_player{width:70%;}
    #shuffle{display: none;}
}




@media(max-width:892px){
    
    nav{
        display: none;
    }
    #search_music .main_button{
        width: 94%;
        margin-left:10px;
    }
    
    aside{width:100%;}
    
}

@media(max-width:830px){
    .nav3{
        display:block;}
    aside{
        margin-top:68px;
    }
    body{
        margin-top:60px;
    }
    #search_music{
    top:45px;
    background-color:(255,255,255,0.2);}
    #search_music{
        top:105px;
    }
    
}

@media(max-width:767px){
    
    .nav2{
        display:inline-block;
        float: right;}
    .nav2 ul{margin:0px;}
    .nav2 ul li{display: inline-block;}
    .nav2 ul li:nth-child(n+3) a{
        padding:16px 15px;
    }
     #login a{color:#B2B2B2;}
/*      #volume_box{display:none;} done by jquery*/
/*    #music_progress{ width:45%;}*/
    .audio_player{width:60%;}
    .songs_details{width:45%;}
    
}

@media(max-width:640px){
    #search_music .search{width:20%;}
    #music_progress{display:none;}
    .audio_player{width:170px;
    text-align:right;}
    
    .open_queue{
        margin-left:30%;
    }
    #queueName{display:none;}
    .queue_buttons button{
        max-width:100px;
/*        margin-left: 0px;*/
        overflow: hidden;}
    .queue_buttons{width:85%;}
    #songs .container{max-width:97%;}
    .left_scroll,.right_scroll{display: none;}
    .footer .queue{
        left:10%;
        width: 80%;
    }
    
}
@media(max-width:480px){
    #get_ganna{ display: none;}
    #search_music .search{
        width:16%;
    }
    .audio_player{
         width:60px;
         float:right;
     }
     #search_music{
         top:60px;
         display:none;
     }
    
    #saveAsPlaylist{display: none;}    
      #search_box .fa{
         float: right;
         padding: 12px 10px;
         margin-right:5px;
         background-color:transparent;
     }
     aside{
         margin-top:0px;
     }
    
    .search .fa{margin:0px;
    font-size: 18px;} 
    .open_queue{
        margin-left:35%;
    }
    .player_song_details{
/*        min-width:100px;*/
    }
    .footer .queue{
         left:0px;
        width:100%;
         height:100%;
     }
    
}

@media(max-width:360px){
    .footer-grp{display: none;}
     
/*    .player_song_details{display:none;}*/
    #ui_player a .fa{padding:20px;}
/*    .audio_player{width:180px;}*/
    .nav2 ul li:nth-child(n+3) a{
        padding:16px 5px;
    }
    .open_queue{
        margin-left:25%;
    } 
      #search_music .main_button{
         width: 100%;
         margin:0px;
     }
     #search_music .search{
         width: 15%;
     }
   
}